.logintitle {
    position: relative;
    top: 100px;
    padding-top: 5px;

    margin: 0 auto;
    width: 80%;
    text-align: center;
    background-color: #daa521;
    border-radius: 40px 40px 15px 15px;
}

.login-form {
    position: relative;
    top: 100px;
    padding-top: 75px;
    margin: auto;
    background-color:#843B62;
    width: 80%;
    height: 420px;
    border-radius: 15px 15px 50px 50px;
}

.btn-log {
    display: block;
    margin-top: 8px;
    background-color: #daa521;
    text-align: center;
    border: 1px solid grey;
    color: #fff;
    height:28px; 
    width:80px; 
    border-radius: 10px;
    position: absolute;
    left:35.5%;
}

.codemonkey {
position:fixed;
right: 11%
}

.form-group, .form-control {
    width: 60%;
    align-content: center;
    margin: auto;
}
