.logintitle {
    position: relative;
    top: 100px;
    padding-top: 5px;

    margin: 0 auto;
    width: 80%;
    text-align: center;
    background-color: #daa521;
    border-radius: 40px 40px 15px 15px;
}

form {
    position: relative;
    top: 100px;
    padding-top: 75px;
    margin: auto;
    background-color:#843B62;
    width: 80%;
    height: 420px;
    border-radius: 15px 15px 50px 50px;
}

button {
    height:40px; 
    width:100px; 
    position: absolute;
    left:32.5%;
}

.codemonkey {
position:fixed;
right: 0%
}

.form-group, .form-control {
    width: 60%;
    align-content: center;
    margin: auto;
}

/* #login-email, input[type=password]{

} */